<link href="games/games.css" rel="stylesheet">
<link href="home/top-games.css" rel="stylesheet">

<div ng-app="myApp.friends" class="games-container container" ng-controller="FriendsCtrl" ng-init="getFriends()">
    <h3><kbd>Your friends</kbd></h3><br/>
    <div ng-repeat="sampleFriend in friends">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="category col-md-3">
                        <h4>User name:</h4>
                    </div>
                    <div class="rating col-md-6">
                        <h4 class="category-text-color">{{sampleFriend.name || 'notDefined'}}</h4>
                    </div>
                    <div class="rating col-md-3">
                        <h4><a ng-click="" class="glyphicon glyphicon-remove"></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
