<link href="admin/admin.css" rel="stylesheet">

<div class="register-container container" ng-app="myApp.admin" ng-controller="AdminCtrl">
    <form name='edit_Game' class="form-horizontal">
        <fieldset>
            <div id="legend">
                <legend class=""><h3>Edit Game</h3></legend>
            </div>
            <div class="control-group">
                <label class="control-label" for="id">ID</label>
                <div class="controls">
                    <input type="number" id="id" name="id" placeholder="" ng-model="editGame.id" required
                           class="form-control input-lg">
                    <p class="help-block">editGame ID</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" id="title" name="title" placeholder="" ng-model="editGame.title" required
                           class="form-control input-lg">
                    <p class="help-block">editGame title</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" id="description" name="description" placeholder="" ng-model="editGame.description"
                           required
                           class="form-control input-lg">
                    <p class="help-block">editGame description</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="platforms">Platforms</label>
                <div class="controls">
                    <input type="text" id="platforms" name="platforms" placeholder="" ng-model="editGame.platform" required
                           class="form-control input-lg">
                    <p class="help-block">editGame platforms</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="url">editGame image</label>
                <div class="controls">
                    <input type="text" id="url" name="url" placeholder="" ng-model="editGame.url" required
                           class="form-control input-lg">
                    <p class="help-block">edtGame image</p>
                </div>
            </div>


            <div class="control-group">
                <div class="controls">
                    <span ng-show="edit_Game.$invalid" class="label label-danger">Required</span>
                    <button class="btn btn-success" ng-click="editGame()"
                            ng-disabled="edit_Game.$invalid || edit_Game.$pending ">Edit game
                    </button>
                </div>
            </div>

            <br/>
        </fieldset>
    </form>
</div>

