.pointer {
    cursor: pointer;
}

.list-group li {
    list-style: none;
}

.panel-info, .panel-rating, .panel-more1 {
    float: left;
    margin: 0 10px;
}

.container.games-container {
     padding: 0% 10%;
 }

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.category {
    text-align: left;
}

h3.panel-title {
    font-size: 24px;
}

p.readMoreTextDots {
    display: inline;
    white-space: nowrap;
}

#bottomOfGame {
    padding-top: 16%;
}

p.btn-add {
    display: inline;
    white-space: nowrap;
    padding-right: 5%;
}

p.btn-details {
    display: inline;
    white-space: nowrap;
}

.panel-heading:hover {
    background-color: #F5F5DC;
}

.panel-borderless {
    border: 0;
    box-shadow: none;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}