<div id="myModal4" class="modal fade" ng-app="myApp.add" ng-controller="AddCtrl" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj przestępstwo</h4>
            </div>
            <div class="modal-body">
                <form name='add_crime_pun' class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="rule">Zasada</label>
                            <div class="controls" id="title">
                                <input type="text" id="rule" name="rule" placeholder="" ng-model="crime.rule" required
                                       class="form-control inputdefault">
                                <p class="help-block">Zasada Kodeks Karny</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="opis">Opis </label>
                            <div class="controls">
                                <input type="text" id="opis" name="opis" placeholder="" ng-model="crime.opis" required
                                       class="form-control inputdefault">
                                <p class="help-block">Opis przewinienia</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="grzywna">Grzywna </label>
                            <div class="controls">
                                <input type="number" id="grzywna" name="grzywna" placeholder="" ng-model="crime.grzywna"
                                       class="form-control inputdefault">
                                <p class="help-block">Grzywna</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="wiezienie">Wiezienie </label>
                            <div class="controls">
                                <input type="text" id="wiezienie" name="wiezienie" placeholder=""
                                       ng-model="crime.wiezienie"
                                       class="form-control inputdefault">
                                <p class="help-block">Czas do spędzenia w zakładzie karnym. TYP INTERVAL!! przykład : 10
                                    months</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="date">Data przestępstwa</label>
                            <div class="controls">
                                <input type="date" id="date" name="country" placeholder="" ng-model="crime.date"
                                       required
                                       class="form-control inputdefault">
                                <p class="help-block">Data przestępstwa</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="country">Kraj</label>
                            <div class="controls">
                                <input type="text" id="country" name="country" placeholder="" ng-model="address.country"
                                       required
                                       class="form-control inputdefault">
                                <p class="help-block">Kraj</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="city">Miasto</label>
                            <div class="controls">
                                <input type="text" id="city" name="city" placeholder="" ng-model="address.city" required
                                       class="form-control inputdefault">
                                <p class="help-block">Miasto</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="street">Ulica</label>
                            <div class="controls">
                                <input type="text" id="street" name="street" placeholder="" ng-model="address.street"
                                       required
                                       class="form-control inputdefault">
                                <p class="help-block">Ulica</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="number">Numer</label>
                            <div class="controls">
                                <input type="number" id="number" name="number" placeholder="" ng-model="address.number"
                                       required
                                       class="form-control inputdefault">
                                <p class="help-block">Numer</p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="post_code">Kod pocztowy</label>
                            <div class="controls">
                                <input type="text" id="post_code" name="post_code" placeholder=""
                                       ng-model="address.post_code" required
                                       class="form-control inputdefault">
                                <p class="help-block">Kod pocztowy</p>
                            </div>
                        </div>


                        <span ng-show="add_crime_pun.$invalid" class="label label-danger">Required</span>
                        <button class="btn btn-success" data-dismiss="modal" ng-click="addCrimePun()"
                                ng-disabled="add_crime_pun.$invalid || add_crime_pun.$pending ">Dodaj
                        </button>

                        <br/>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>