<link href="register/register.css" rel="stylesheet">

<div class="register-container container" ng-controller="RegisterCtrl">
    <form name='register' class="form-horizontal">
        <fieldset>

            <div id="legend">
                <legend class=""><h3>Register</h3></legend>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" ng-model="user.name" required
                           class="form-control input-lg" no-spaces>
                    <p class="help-block">Username can contain any letters or numbers, without spaces </p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="email" id="email" name="email" placeholder="" ng-model="user.email" required
                           class="form-control input-lg" ng-trim="false" to-lower no-spaces>
                    <p class="help-block">Email address, without spaces</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" ng-model="user.password"
                           ng-minlength='6' required class="form-control input-lg">
                    <p class="help-block">Password should be at least 6 characters</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password_confirm">Password (Confirm)</label>
                <div class="controls">
                    <input type="password" id="password_confirm" required
                           name="password_confirm" placeholder="" class="form-control input-lg"
                           ng-model="password_confirm"
                           ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' "></div>
                <div/>
            </div>

            <div class="control-group">
                <div class="controls">
                    <!--<div-->
                    <!--vc-recaptcha-->
                    <!--ng-model="myFields.myRecaptchaResponse"-->
                    <!--&gt;</div>-->
                    <span ng-show="register.$invalid" class="label label-danger">Required</span>
                    <button class="btn btn-success" ng-click="goto()"
                            ng-disabled="register.$invalid || register.$pending ">Sign Up!
                    </button>

                </div>
            </div>
            <br/>

        </fieldset>
    </form>
</div>

