<link href="games/games.css" rel="stylesheet">
<link href="home/top-games.css" rel="stylesheet">

<div ng-app="myApp.games" class="games-container container" ng-controller="GamesCtrl" ng-init="getGames()">
    <h3><kbd>Games Set</kbd></h3><br/>
    <div class="row" ng-repeat="sampleGame in games">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{sampleGame.title}}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-4 nopadding">
                    <div class="photo">
                        <img ng-src="{{sampleGame.url}}" class="img-rounded" width="250" height="160"
                             alt="Can't display img"/>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="category col-md-6">
                        <h4>Platform:</h4>
                        <h4>Rating: </h4>
                        <h4>Description: </h4>

                        <div id="bottomOfGame" class="separator clear-left">
                            <p class="btn-add">
                                <i class="glyphicon glyphicon-star"></i>
                                <a ng-controller="HomeCtrl" ng-click="addToGameLib(sampleGame.id)" class="hidden-sm pointer">Add to game library</a>
                            </p>
                            <p><div ng-include="'components/more-details.html'"></div></p>
                        </div>
                    </div>
                    <div class="rating col-md-6">
                        <h4 class="category-text-color">
                            {{sampleGame.platform}}
                        </h4>
                        <a ng-repeat="rating in range(0,(sampleGame.score - 1),1)">
                            <i class="category-text-color fa fa-star"></i>
                        </a>
                        <a ng-repeat="rating in range(0, (5 - sampleGame.score- 1),1)">
                            <i class="fa fa-star-o"></i>
                        </a>
                        <h6>{{sampleGame.description | limitTo:sampleGame.readNum}}
                            <!--<p class="readMoreTextDots">...</p>-->
                        </h6>

                        <button class="btn btn-default" type='button' ng-click="readMore(sampleGame)">
                            {{sampleGame.readMoreText}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>