<link href="games/games.css" rel="stylesheet">

<div ng-app="myApp.games" class="games-container container" ng-controller="GameCtrl" ng-init="getGame()">
    <h3><kbd>Games Set</kbd></h3><br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{sampleGame.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-4 nopadding">
                <div class="photo">
                    <img ng-src="{{sampleGame.url}}" class="img-rounded" width="250" height="160"
                         alt="Can't display img"/>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="category col-md-6">
                    <h4>Platform:</h4>
                    <h4>Rating: </h4>
                    <h4>Description: </h4>

                    <div id="bottomOfGame" class="separator clear-left">
                        <p class="btn-add">
                            <i class="glyphicon glyphicon-star"></i>
                            <a ng-controller="HomeCtrl" ng-click="addToGameLib(sampleGame.id)" class="hidden-sm pointer">Add to game library</a>
                        </p>
                    </div>
                </div>
                <div class="rating col-md-6">
                    <h4 class="category-text-color">
                        {{sampleGame.platform}}
                    </h4>
                    <a ng-repeat="rating in range(0,(sampleGame.score - 1),1)">
                        <i class="category-text-color fa fa-star"></i>
                    </a>
                    <a ng-repeat="rating in range(0, (5 - sampleGame.score- 1),1)">
                        <i class="fa fa-star-o"></i>
                    </a>
                    <h6>{{sampleGame.description}}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="game/game.css" rel="stylesheet">

<div class="games-container container" ng-app="myApp.games" ng-controller="GameCtrl" ng-init="getComments()">
    <div class="panel panel-default">
        <div class="titleBox">
            <label>Review Box</label>
        </div>
        <div class="actionBox" ng-repeat="review in reviews">
            <div class="commentText">
                <p class="">{{review.review}}</p>
                <span class="date sub-text">{{review.username}}
                     <a ng-repeat="rating in range(0,(sampleGame.rating - 1),1)">
                            <i class="category-text-color fa fa-star"></i>
                     </a>
                     <a ng-repeat="rating in range(0, (5 - sampleGame.rating - 1),1)">
                            <i class="fa fa-star-o"></i>
                     </a>
                </span>
            </div>
        </div>
    </div>
</div>

<link href="bower_components/angular-input-stars/angular-input-stars.css" rel="stylesheet">

<div class="games-container container" ng-app="myApp.games" ng-controller="GameCtrl" ng-init="prepareUser()">
    <div class="panel panel-default">
        <div class="titleBox">
            <label>Leave comment</label>
        </div>
        <div class="actionBox">
            <label>Rating: </label>
            <input-stars ng-model="starRating" on-star-click="clickHandler(starRating)" max="5"></input-stars>
            <span class="label label-info">value: {{starRating}}</span>
        </div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" ng-model="commentRating"></textarea>
        </div>
        <div>
            <button class="btn btn-default" type='button' ng-click="confirmation()">
                Add comment
            </button>
        </div>
        <br/>
    </div>
</div>