<link href="login/login.css" rel="stylesheet">
<link href="games/games.css" rel="stylesheet">
<link href="home/top.css" rel="stylesheet">

<div ng-app="myApp.login" class="login-container container" ng-controller="LoginCtrl">
    <form name='login' class="form-horizontal">
        <fieldset>

            <div id="legend">
                <legend class=""><h3>Login</h3></legend>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">Nazwa użytkownika</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" ng-model="user.name" required
                           class="form-control input-lg" no-spaces>
                    <p class="help-block">Nazwa użytkownika nie może zawierać spacji</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password">Hasło</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" ng-model="user.password"
                           ng-minlength='5' required class="form-control input-lg">
                    <p class="help-block">Hasło powinno zawierać conajmniej 5 znaków</p>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <span ng-show="login.$invalid" class="label label-danger">Wymagane</span>
                    <button class="btn btn-success" ng-click="goto()"
                            ng-disabled="login.$invalid || login.$pending ">Log in!
                    </button>

                </div>
            </div>
            <br/>

        </fieldset>
    </form>
</div>
<div class="games-container container">
    policjant policjant <br/>
    pracownik pracownik <br/>
    admin admin <br/>
</div>

